{% extends 'base.html' %}

{% block content %}

{% load static %}
    <!--====================  breadcrumb area ====================-->

    <div class="breadcrumb-area section-space--breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <!--=======  breadcrumb wrapper  =======-->

                    <div class="breadcrumb-wrapper">
                        <h2 class="page-title">My Account</h2>
                        <ul class="breadcrumb-list">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active">My Account</li>
                        </ul>
                    </div>

                    <!--=======  End of breadcrumb wrapper  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--====================  End of breadcrumb area  ====================-->

    <!--====================  page content wrapper ====================-->

    <div class="page-content-wrapper">
        <!--=======  my account wrapper  =======-->

        <div class="myaccount-wrapper">
            <div class="container">
                <div class="row h-100 justify-content-center align-items-center">
                    {% include 'includes/alerts.html' %}
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                        <form action="{% url 'signup' %}" method='POST'>
                            {% csrf_token %}
                            <div class="login-form">
                                <h4 class="login-title">Register</h4>

                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label>First Name</label>
                                        {{ form.first_name }}
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <label>Last Name</label>
                                        {{form.last_name}}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email Address</label>
                                        {{form.email}}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Phone Number</label>
                                        {{form.phone_number}}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Password</label>
                                        {{form.password}}
                                    </div>
                                    <div class="col-md-6">
                                        <label>Confirm Password</label>
                                        {{form.confirm_password}}
                                    </div>
                                        <div>
                                            {{ form.non_field_errors }}
                                            {{ form.email.errors }}
                                            {{ form.password.errors }}
                                        </div>
                                    <div class="col-12">
                                        <button class="theme-button">Register</button>
                                    </div>
                                    <p class="mt-4">Have an account? <a href="{% url 'signin' %}">Log In</a></p>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--=======  End of my account wrapper  =======-->
    </div>

    <!--====================  End of page content wrapper  ===================
{% endblock content %}